<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>piekarnia Malgosia</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<!--/*@thymesVar id="description" type="com.ps.bakeryapp.models.Description"*/-->
    <div th:replace="homepage::navbar"></div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
            </div>
            <div class="col">
                <h1>Piekarnia Malgosia</h1>
            </div>
            <div class="col">
            </div>
        </div>
    <div class="row align-items-center">
            <div class="col">
            </div>
            <div class="col" th:text="*{description.getDescription()}">

            </div>
            <div class="col">
            </div>
        </div>
    </div>
</body>
</html>